<section class="hero is-large">
    <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">
        白の組織へようこそ
      </h1>
      <br>
      <h2 class="subtitle is-6">
        <%= link_to "会員規約", "/kiyaku" %>に同意して
      </h2>
      <p><%= link_to "Twitterで入会/ログインする", "/auth/twitter", class: "button is-rounded"  %></p>
    </div>
  </div>
</section>
  
  
<br>
<br>

  <section class="section">
    <div class="container">

<div class="control is-loading">
  <input class="input" type="text" placeholder="Loading input">
</div>
<br>

<!--吹き出しはじまり-->
<div class="balloon5">
  <div class="faceicon">
   <img src="/oldman_75.png">
  </div>
  <div class="chatting">
    <div class="says">
      <p>月日は百代の過客にして雪こう年も又旅人なりアイウエオかきくけこさしすせそたちつてとなにぬねのかきくけこサッカー部の部員数は6000人以上になります。</p>
      <p>少しでもラグビーの楽しさをわかってもらおうと長い人生を通してラグビーを愛せるように</p>
    </div>
  </div>
</div>
<!--吹き出し終わり-->

</div>
</section>
<br>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <% if logged_in? %>
          <%= image_tag(current_user.image_url, alt: current_user.user_name) %>
          <% end %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= current_user.user_name if logged_in? %></p>
        <p class="subtitle is-6">@<%= current_user.nickname if logged_in? %></p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
<br>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Component
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
<br>
<div class="card">
  <div class="card-content">
    <p class="title">
      “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
    </p>
    <p class="subtitle">
      Jeff Atwood
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Share on <a href="#">Facebook</a>
      </span>
    </p>
  </footer>
</div>