$section-padding: 2rem 0.5rem;
$size-3: 1.75rem;

// Typography
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
$family-serif: 'Noto Sans Japanese', sans-serif;
$family-primary: $family-serif;

@import "bulma";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* 吹き出し */
.balloon5 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
}

.balloon5 .faceicon {
    float: left;
    margin-right: -60px;
    width: 50px;
}

.balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 1px #e8eaed;
    border-radius: 50%;
}

.balloon5 .chatting {
    width: 100%;
}

.says {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 65px;
    padding: 10px 10px;
    border-radius: 5px;
    background: #e8eaed;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #e8eaed;
}

.says p {
    margin: 0;
    padding: 0;
}