<br>
<footer class="footer">
  <div class="container">
    <p class="bd-footer-title">こちらはフッターです</p>
    <p class="bd-footer-link"><%= link_to "当サイトについて", "/about" %></p>
    <p class="bd-footer-link"></p><%= link_to "プライバシーポリシー", "/privacy" %></p>
    <p class="bd-footer-link"><%= link_to "会員規約", "/kiyaku" %></p>
    <br>
      
    <div class="content has-text-centered">
      Copyright © White.org. All Rights Reserved.
    </div>
  </div>
</footer>