<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/whiteorg1.png" alt="Change yourself with White.org!" >
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control level-right">
            <% if logged_in? %>
              <%= link_to "ログアウト", "/logout", class: "button is-rounded is-info"  %>
            <% else %>
              <%= link_to "Twitterでログイン", "/auth/twitter", class: "button is-rounded is-info"  %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>