<!DOCTYPE html>
<html>
  <head>
    <title>WhiteOrg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
        <div class="container is-desktop">
        <%= render 'layouts/header' %>

          
          <% if flash[:notice] %>
            <div class="notification">
              <%= flash[:notice]%>
            </div>
          <% end %>
        
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
  </body>
</html>
